@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
    @apply bg-white text-black; /*unnötig glaub ich*/ 
  }
  html {
    scroll-behavior: smooth;
  }
  /*
  .bg-grid-pattern {
  background-image: linear-gradient(to right, #ccc 1px, transparent 1px),
                    linear-gradient(to bottom, #ccc 1px, transparent 1px);
  background-size: 40px 40px;
}
*/
  